<div class="for_reply">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2><%=@parent.title%></h2><br>
      <%= form_for([@parent, @comment],remote:true) do |f| %>
        <%= render partial: "comments/form", locals:{ f: f} %>
        <p>
          <%= f.submit "Написать комментарий", class: "btn btn-large btn-primary", id:"rep_com" %>
        </p>
      <% end %>
    </div>
  </div>
</div> 