<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <center>
    <ul class="comment_list">
      <h2><%=@parent.title%></h2><br>
    <%= form_for([@parent, @comment]) do |f| %>
      <%= render partial: "comments/form", locals:{ f: f} %>
      <p>
        <%= f.submit "Написать комментарий", class: "btn btn-large btn-primary" %>
      </p>
    <% end %>
    </ul>
    </center>
  </div>
</div>