<center><h2>Eding a post:</h2>
<%= form_for([@user, @post]) do |f| %>
    <%= render partial: "form", locals:{ f: f} %>
    <%= f.submit "Обновить", class: "btn btn-large btn-primary" %>
  </p>
<% end %>

<%= link_to 'Назад', post_path%>
</center>