<div class="post_new">
  <center><h2>Добавить Обьявление:</h2>
  <%= form_for([@user, @user.posts.build]) do |f| %>
      <%= render partial: "form", locals:{ f: f} %>
      <%= f.submit "Добавить Обьявление", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>

  <%= link_to 'Назад', :back%>
  </center>
</div>